/ {
	#address-cells = <1>;
	#size-cells = <1>;
	
	soc {
		ipm:ipm@1900000 {
			compatible = "sophgo,cv180x-ipm";
			reg = <0x1900000 DT_SIZE_K(4)>;
			interrupts = <61 1>;
			interrupt-parent = <&plic0>;
			status = "disabled";
		};

		timer5: timer@30a0050 {
			compatible = "sophgo,cv18xx-timer";
			reg = <0x30a0050 0x010>;
			interrupts = <55 1>; 
			status = "okay";
		};

		adc1: adc@30f0000 {
			compatible = "sophgo,cv18xx-adc";
			pinctrl-0 = <&adc_default>;
			pinctrl-names = "default";
			reg = <0x30f0000 0x10000>;
			channels = <3>;
			status = "okay";
		};
	};

	// location of vdev0buffer in linux dts
	mcusram3: memory1@8fff8000 {
		compatible = "mmio-sram";
		reg = <0x8fff8000 0x4000>;
	};

	chosen {
		zephyr,console = &uart0;
		zephyr,ipc_shm = &mcusram3;
		zephyr,ipc = &ipm;
    };

	aliases {
		mytimer = &timer5;
		myadc = &adc1;
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
};

&ipm {
	status = "okay";
};

&pinctrl {
	adc_default: adc_default {
		group1 {
			pinmux = <CVI_PINMUX(ADC1, XGPIOB_3)>;
		};
	};
};
